body{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-left:260px;
    font-family:Arial, sans-serif;
    background-image:url("https://img.magnific.com/free-vector/blue-polygonal-shapes-background_1053-434.jpg?semt=ais_hybrid&w=740&q=80");
    background-size:cover;
}

h1{
    color:white;
    text-shadow:2px 2px 5px black;
}

.feed{
    width:320px;
    padding:20px;
    background:white;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.3);

    display:flex;
    flex-direction:column;
    gap:10px;
}

.feed input{
    padding:10px;
    border-radius:8px;
    border:none;
}

.feed button{
    padding:10px;
    border:none;
    border-radius:8px;
    background:#1877f2;
    color:white;
    cursor:pointer;
}

.feed button:hover{
    background:#0d5fd8;
}

.post{
    width:320px;
    padding:20px;
    margin-top:15px;
    background:white;
    border-radius:15px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.3);
}

.profile{
    width:250px;
    padding:15px;
    margin-top:15px;
    background:white;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.3);
}

.dashboard{
    position:fixed;
    top:0;
    left:0;
    width:220px;
    height:100vh;
    background:#1e293b;
    color:white;
    padding:20px;
}

.dashboard p{
    cursor:pointer;
    padding:10px;
    border-radius:8px;
}

.dashboard p:hover{
    background:#334155;
}
.dashboard a{
    display:block;
    color:white;
    text-decoration:none;
    padding:12px;
    margin:10px 0;
    border-radius:8px;
}

.dashboard a:hover{
    background:#334155;
}
